* {margin: 0; padding: 0;}

body {font-family: 'Lato', sans-serif;}

header {text-align: center; background: linear-gradient(90deg, #0C9B8E, #009688); color: #fff; padding: 1rem; box-shadow: 0px 10px 13px -7px #000000; position: fixed; top: 0; width: 100%;}

main {max-width: 700px; margin: 5rem auto; padding: 1.5rem; color: #878787;}

main div {font-size: 2.7rem; text-align: center; letter-spacing: .05rem; margin: 3rem 0 1.5rem 0; font-weight: 370;}

details {font-weight: 400; margin-bottom: .5rem;}

details p {padding: 0 1rem;}

summary {margin-bottom: .7rem; cursor: pointer;}

summary:hover {color: #212121;}

footer {height: 100vh;}